@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

/*#region core*/
h1 {
  background-color: rgb(28, 160, 61);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: solid rgb(9, 45, 9);
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 15em;
  color: rgb(255, 208, 0);
}

.footer {
  position: fixed;
  background-color: #267c19;
  border: solid #ffa200;
  color: white;
  text-align: center;
  margin-top: 0.5em;
  width: 118em;
}

.indexBar {
  border-radius: 1em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 1em;
  background-color: #1eac08;
  border: solid #ffa200;
  border-width: 0.2em;
}

.indexBar a {
  display: block;
  text-decoration: none;
  text-indent: 5em;
  margin: 1em;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  top: 0.75em;
  bottom: 0.75em;
  left: 1em;
  right: 1m;
}

.indexBar a:hover {
  transition: 0.5s;
  font-size: x-large;
}

body {
  background-color: gold;
  font-family: "Irish Grover", sans-serif;
}

.main-content {
  border-radius: 1em;
  background-color: #9ac794;
  border: solid white;
  color: #ffa200;
  border-radius: 0.5em;
}

/*#endregion*/

/*#region homepage*/
.home-Icon {
  position: absolute;
  margin-top: -3em;
  width: 30%;
}

.grass1 {
  position: fixed;
  margin-top: -11em;
  margin-left: -63em;
}

.grass2 {
  position: fixed;
  margin-top: -10em;
  margin-left: 44em;
}

.lepra-small {
  position: fixed;
  margin-top: -13em;
  margin-left: 40em;
}

.cloud {
  margin-left: 30em;
  margin-top: 10em;
}

.cloudSmall {
  width: 5em;
  height: 5em;
  margin-left: -1em;
  margin-bottom: -3em;
}

.cloud-Text {
  position: absolute;
  margin-left: 17em;
  margin-top: 9em;
  font-size: xx-large;
}

.leprachaun {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20em;
  width: 30%;
  transition: width 2s;
}

.leprachaun:hover {
  width: 450px;
}
/*#endregion*/

/*#region about-us*/
.about-us {
  border-radius: 1em;
  background-color: #9ac794;
  border: solid white;
  text-align: center;
  color: #ffa200;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #0c0c0c;
  border-radius: 0.5em;
}

.about-main-text {
  background-color: #674848;
  width: 60em;
  margin-left: 10em;
  border: solid rgb(255, 255, 255);
  font-size: x-large;
  border-radius: 0.5em;
}

.map {
  border: solid rgb(249, 155, 3) 0.5em;
  margin-left: -15em;
}

.second-Header-about-us {
  background-color: #674848;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-left: 28em;
  margin-top: 1em;
  width: 20em;
  color: #ffa200;
  border-radius: 0.5em;
}

.fun-facts-header {
  margin-top: -5em;
  float: right;
  margin-right: 7em;
  margin-top: -13em;
  width: 11em;
  background-color: #674848;
  border: solid rgb(255, 255, 255);
  font-size: xx-large;
}

.fact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.fact {
  color: white;
  float: right;
  text-align: center;
  font-size: large;
  background-color: #674848;
  border: solid rgb(233, 176, 5);
  margin: -20em 12em;
  width: 20em;
  padding: 5px;
}

.fact2 {
  color: white;
  float: right;
  text-align: center;
  font-size: large;
  background-color: #674848;
  border: solid rgb(233, 176, 5);
  margin: -14em 12em;
  width: 20em;
  padding: 5px;
}

.fact3 {
  color: white;
  float: right;
  text-align: center;
  font-size: large;
  background-color: #674848;
  border: solid rgb(233, 176, 5);
  margin: -10em 12em;
  width: 20em;
  padding: 5px;
}

/*#endregion*/

/*#region bookSpot*/
.h2-main {
  background-color: #2b921b;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-left: 28em;
  margin-top: 1em;
  width: 20em;
  color: #ffa200;
  border-radius: 0.5em;
}

.book-form{
  background-color: #2b921b;
  border: solid rgb(255, 255, 255);
  display: block;
  justify-content: center;
  margin-left: 45em;
  margin-top: 2em;
  margin-bottom: 4em;
  width: 20em;
  color: #ffa200;
  border-radius: 0.5em;
  padding: .5em .5em;
}

.book-field-header{
  margin-left: 4em;
  margin-top: 2em;
  border: solid rgb(0, 0, 0);
  background-color: #674848;
}

.book-field{
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid black;
}

.Submit{
 margin-left: 10em;
 background-color: #ffa200;
 padding: .5em .5em;
 transition: width 2s, height 2s;
}

.Submit:hover{
   background-color: #ffffffb0;
 }

 .h2-form{
  background-color: #205f17;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-left: 2em;
  width: 10em;
  color: #ffa200;
  border-radius: 0.5em;
 }

 .book-footer{
  position: fixed;
  background-color: #267c19;
  border: solid #ffa200;
  color: white;
  text-align: center;
  margin-top: -3.5em;
  width: 118em;
 }
/*#endregion*/
